footer {
  .footer-title-container {
    outline: solid 2px $color-main;
    padding: 20px 40px;
    position: relative;
    .footer-title {
      font-size: 40px;
    }
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding: 20px 40px;
    a {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 997px) {
  footer {
    .footer-title-container {
      padding: 10px 40px;
      .footer-title {
        font-size: 20px;
      }
    }
    .footer-list {
      gap: 20px;
      font-size: 12px;
    }
    .micro-footer {
      font-size: 10px;
      .l-footer-item:first-child {
        background-color: $color-second;
        a {
          color: $color-main;
        }
      }
    }
  }
}
