header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-second;
  outline: solid 2px $color-main;
  height: 100%;
  z-index: 1000000;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav {
    .extended-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
      }
    }
  }
  .shop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-enhanced-1;
    outline: solid 2px $color-main;
    font-weight: 500;
    text-decoration: none;
    .desktop-only {
      display: inline;
    }
  }
}

@media screen and (min-width: 992px) {
  header {
    h1 {
      font-size: 53px;
      width: 20%;
    }
    nav {
      width: 40%;
      .extended-nav {
        a {
          text-decoration: none;
          font-size: 20px;
        }
        .mobile-only {
          display: none;
        }
      }
    }
    .shop-btn {
      gap: 17px;
      height: 100%;
      width: 20%;
      font-size: 53px;
      .desktop-only {
        display: inline;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  header {
    h1 {
      padding-left: 27.75px;
      font-size: 35px;
    }
    nav {
      width: 40%;
      transition: width 0.3s;
      .extended-nav {
        display: none;
        a {
          text-decoration: none;
          font-size: 26px;
        }
        .mobile-only {
          display: block;
        }
      }
      &.burger-open {
        width: 30%;
        .extended-nav {
          width: 100%;
          height: 30vh;
          position: absolute;
          top: 46px;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: flex-start;
          outline: solid 2px $color-main;
          background-color: $color-second;
          a {
            margin-left: 27.75px;
          }
        }
      }
    }
    .shop-btn {
      gap: 0px;
      height: 100%;
      width: 20%;
      font-size: 35px;
      transition: width 0.3s;
      .icon {
        transition: 0.3s;
      }
      .desktop-only {
        display: none;
      }
      &:hover {
        .icon {
          transform: rotate(45deg);
        }
      }
      &.burger-open {
        width: 30%;
        .icon {
          display: none;
        }
        .desktop-only {
          display: inline;
        }
      }
    }
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 6px;
    .burger-stroke {
      height: 5px;
      width: 36px;
      background-color: $color-main;
    }
    .middle-stroke {
      height: 5px;
      width: 25px;
      background-color: $color-main;
      transition: 0.3s;
    }
    &.burger-open {
      .middle-stroke {
        width: 36px;
      }
    }
  }
  body {
    &.burger-open {
      overflow: hidden;
    }
  }
}
