<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Leamo - {{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="scss/main.scss" />
  </head>
  <body>
    <header>
      <h1>Leamo</h1>
      <nav>
        <div class="burger-menu">
          <div class="burger-stroke"></div>
          <div class="middle-stroke"></div>
          <div class="burger-stroke"></div>
        </div>
        <div class="extended-nav">
          <a href="#">Nos produits</a><a href="#">Mixologie</a
          ><a href="#">Points de vente</a>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="nav-footer">
                  <p>AlterFood™</p>
                  <div class="links">
                    <a href="#">Site web</a><a href="#">Shop</a
                    ><a href="#">PoLitiques et Confidentialité</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <a href="https://altershop.fr/collections/leamo" class="shop-btn">
        <span class="desktop-only">shop</span><span class="icon"></span>
      </a>
    </header>
    <block name="content"></block>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-12">Leamo</div>
              <div class="col-12">
                <div class="footer-list">
                  <a href="#">Nos produits</a><a href="#">Mixologie</a
                  ><a href="#">Points de vente</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-12">AlterFood™</div>
              <div class="col-12">
                <div class="footer-list">
                  <a href="#">Site web</a><a href="#">Shop</a
                  ><a href="#">PoLitiques et Confidentialité</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <a href="#">Mentions légales</a>|
            <a href="#">Politique de confidentialité</a>
          </div>
          <div class="col-12 col-lg-6">
            <span>®Leamo is a brand from AlterFood, France</span>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.js" type="module"></script>
  </body>
</html>
