<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Leamo - {{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="scss/main.scss" />
  </head>
  <body>
    <header>
      <h1>Leamo</h1>
      <nav>
        <div class="burger-menu">
          <div class="burger-stroke"></div>
          <div class="middle-stroke"></div>
          <div class="burger-stroke"></div>
        </div>
        <div class="extended-nav">
          <a href="#">Nos produits</a><a href="#">Mixologie</a
          ><a href="#">Points de vente</a>
        </div>
      </nav>
      <a href="https://altershop.fr/collections/leamo" class="shop-btn">
        <span class="desktop-only">shop</span><span class="icon"></span>
      </a>
    </header>
    <main>
      <block name="content"></block>
    </main>
    <footer>
      <div class="l-footer-container">
        <div class="l-footer-row">
          <div class="footer-item">
            <div class="footer-title-container">
              <h2 class="footer-title">Leamo</h2>
              <div class="footer-title-separator"></div>
            </div>
          </div>
          <div class="l-footer-item">
            <div class="footer-list">
              <a href="#">Nos produits</a><a href="#">Mixologie</a
              ><a href="#">Points de vente</a>
            </div>
          </div>
        </div>
        <div class="l-footer-row">
          <div class="l-footer-item">
            <div class="footer-title-container">
              <div
                class="footer-title-separator top-separator mobile-only"
              ></div>
              <h2 class="footer-title">AlterFood™</h2>
              <div class="footer-title-separator"></div>
            </div>
          </div>
          <div class="l-footer-item">
            <div class="footer-list">
              <a href="#">Nos produits</a><a href="#">Mixologie</a
              ><a href="#">Points de vente</a>
            </div>
          </div>
        </div>
        <div class="l-footer-row micro-footer">
          <div class="l-footer-item">
            <a href="#">Mentions légales</a>|
            <a href="#">Politique de confidentialité</a>
          </div>
          <div class="l-footer-item">
            <span>®Leamo is a brand from AlterFood, France</span>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.js" type="module"></script>
  </body>
</html>
