<section class="values">
  <div class="container">
    <div class="values-continer">
      <p class="values-text">
        <strong>Leamo</strong> est une marque de boisson soft bio, naturelle et
        rafraîchissante pour accompagner vos soirées. Sous ses notes
        aromatiques, elles peuvent également se consommer sans alcool !
        <br />
        <strong>Notre mission</strong> est de créer une boisson désaltérante aux
        recettes naturelles afin de mettre aussi en avant le côté éthique de la
        marque.
        <br />
        Des ingrédients authentiques de qualité qui mettront tout le monde
        d'accord !
      </p>
    </div>
  </div>
</section>
