<section class="classic" id="{{ sectionID }}">
  <div class="section-title">
    <div class="container">
      <h2>{{ sectionTitle }}</h2>
    </div>
  </div>
  <div class="section-content">
    <img src="{{ bigImageLink }}" alt="" class="section-thumbnail-big" />
    <div class="section-thumbnail-container {{ activeImgGrid }}">
      <block name="section-thumbnail-grid"> </block>
    </div>
    <div class="section-content-text {{ activeText }} {{ textLayout }}">
      <h3>
        <block name="section-content-title"></block>
      </h3>
      <p>
        <block name="section-content-text"></block>
      </p>
    </div>
  </div>
  <div class="section-footer">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-md-6">
          <a href="{{ sectionLink }}"
            ><block name="section-link"> </block><span class="icon"></span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
